<div class="mt-1 hover rounded-2 mb-2 ms-2 me-2 position-relative" (click)="seeEvent()" style="max-width: 540px;">
  <div class="d-flex  p-3 flex-column justify-content-start align-items-start position-relative">
    <div class="d-flex align-items-center justify-content-start">
      <span class="point" [ngStyle]=" {'background-color': event.color}"></span>
      <span class="text-secondary ms-2">
        {{formattedDate}} à {{event.startTime}}
      </span>
    </div>
    <span class="fw-bold text-start">
      {{event.name.length > 20 ? event.name.substring(0, 20) + '...' : event.name | titlecase}}
    </span>
    <span class="text-secondary text-start">
      {{event.description.length > 40 ? event.description.substring(0, 40) + '...' : event.description | titlecase}}
    </span>
  </div>
	<span  style="font-weight: 500" class="badge rounded-pill position-absolute top-0 end-0 m-3" [style.background-color]="BadgeInfoTypeText[badgeInfo].color">{{BadgeInfoTypeText[badgeInfo].text}}</span>
	<hr class="m-0 bar position-absolute bottom-0 start-50 translate-middle">
</div>

