<div class="card  mt-1 mb-1 ms-2 me-2" (click)="seeEvent()" style="max-width: 540px;">
  <div class="hover">
  <div class="row g-0 overflow-hidden">
    <div class="col-md-3 d-flex justify-content-center align-items-center  ">
      <i class="bi bi-geo-alt-fill" style="font-size: 2em;"></i>
    </div>
    <div class="card-body col-md-9 d-flex row justify-content-center align-content-start">
        <h5 class="card-title">{{event?.name}}</h5>
        <p class="card-text">
          <small class="text-muted"> {{event?.date  | date:'d MMMM y'}} à {{event?.startTime}}</small></p>
    </div>
  </div>
  </div>
</div>
