<div class="card text-center m-2 h-auto">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item ">
        <a class="nav-link active" href="#">Tout</a>
      </li>
    </ul>
  </div>
  <div class="scroll" style="max-height: 80vh; overflow-y: auto; overflow-x: hidden;">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
