<div class="d-flex flex-column" style="max-width:  700px;">

    <div class="d-flex flex-row justify-content-around align-items-center">
        <h1>{{event.name | titlecase}}</h1>
        <span class="badge mx-2 p-2"
        [ngStyle]="{'background-color': event.color}"
        >{{event.type}}</span>
    </div>

        <div class="d-flex align-items-center mt-2">
            <div class="p-4 ">
                <i class="bi bi-calendar-date custom-card p-2 rounded-2"
                style="font-size: 22px;"
                ></i>
            </div>
            <div class="d-flex flex-column justify-content-between align-items-baseline gap-2">
                <span class="fw-bold custom-span-size">{{date}}</span>
                <span class="main-color-light">{{jour}} à {{event.startTime.replace(':','H')}}</span>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="p-4 ">
                <i class="bi bi-geo-alt-fill custom-card p-2 rounded-2"
                style="font-size: 22px;"
                ></i>
            </div>
            <div class="d-flex flex-column justify-content-between align-items-baseline gap-2">
                <span *ngIf="event.location.street" class="fw-bold custom-span-size">{{event.location.street}}</span>
                <span *ngIf="!event.location.street" class="fw-bold custom-span-size">Aucune adresse spécifiée</span>
                <span class="main-color-light">{{addressInfo()}}</span>
            </div>
        </div>
        <span class="fw-bold mt-5 custom-span-size">À propos</span>
        <span class="mt-2">{{event.description}}</span>

        <button (click)="redirectToGoogleMap()" class="btn custom-btn fw-normal mt-2 py-3 rounded-2 d-flex justify-content-center relative align-items-center">
            <span  class="text-uppercase fw-bold">voir le trajet</span>
            <i  class="bi bi-arrow-right px-2 py-1 arrow rounded"></i>
        </button>


    </div>

