.nav-link{
    display: inline;
    position: relative;
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
    
    cursor: pointer;
}


.nav-link:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 0%;
    left: 0px;
    height: 3px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: var(--main-color);
}

.nav-link:hover:after{
    width: 100%;
}
.active {
    color: var(--main-color)!important;
}