<h2 mat-dialog-title>{{text}}</h2>
<hr class="hr" />
<mat-dialog-content>

  <form  novalidate [formGroup]="form" class=" d-flex row">

    <mat-form-field class="input-name">
      <mat-label>Nom</mat-label>
      <input matInput  placeholder="Ex. nom de l'évènement" formControlName="name" minlength="2" required name="name" >
      <mat-error *ngIf="form.get('name')?.dirty && form.get('name')?.hasError('required')">
        Le nom de l'évènement est <strong>obligatoire</strong>
      </mat-error>
      <mat-error *ngIf="form.get('name')?.dirty && form.get('name')?.hasError('minlength')">
        Le nom de l'évènement doit avoir au minimum <strong>2 caractères</strong>
      </mat-error>
    </mat-form-field>

    <div class="d-flex col mb-2 justify-content-between align-content-center">
      <mat-form-field>
        <mat-label>Date De l'évènement</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="date" name="date" required >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('date')?.dirty && form.get('date')?.hasError('required')">
          La date de l'évènement est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>

      <ngx-mat-timepicker-field color="warn" [format]="24" [defaultTime]="'12:15'"  formControlName="startTime" name="startTime">
        <mat-icon matPrefix class="custom-icon">watch</mat-icon>
      </ngx-mat-timepicker-field>
    </div>

    <mat-form-field class="input-description">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. description  de l'évènement" formControlName="description" required name="description" ></textarea>
      <mat-error *ngIf="form.get('description')?.dirty && form.get('description')?.hasError('required')">
        La description de l'évènement est <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>

    <div formGroupName="location"   class="d-flex row"  >
      <div class="d-flex col justify-content-sm-center align-content-center">
        <p> Lieu de l'évènement </p>
      </div>



      <mat-form-field class="input-name">
        <mat-label  >Adresse</mat-label>
        <input matInput placeholder="Ex. 5 rue Jacques Callot" formControlName="street"  name="street" >
      </mat-form-field>







      <div class="d-flex col  justify-content-between align-content-center">
        <mat-form-field class="input-name ">
          <mat-label>Ville</mat-label>
          <input matInput placeholder="Ex. Nancy"   formControlName="city"  name="city" >
        </mat-form-field>
        <mat-form-field class="input-name">
          <mat-label>Code Postal</mat-label>
          <input matInput type="text" placeholder="Ex. 54000"   formControlName="postalCode"  name="postalCode"  >
        </mat-form-field>
      </div>
      <mat-form-field class="input-description">
      <mat-label>Complément d'adresse </mat-label>
        <textarea matInput placeholder="Ex. Au deuxième étage"
                  formControlName="locationDetails"
                  name="locationDetails">
        </textarea>
      </mat-form-field>
    </div>
    <app-map-dialog [event]="model"  [eventForm]="form.value" ></app-map-dialog>


    <hr class="hr mb-2" />
    <div class="d-flex col justify-content-between align-content-center">
      <mat-form-field class="input-name mt-2">
        <mat-label>Type</mat-label>
        <input matInput placeholder="Ex. Musique"  formControlName="type" minlength="2" required name="type">
        <mat-error *ngIf="form.get('type')?.dirty && form.get('type')?.hasError('required')">
          Nom de l'évènement est <strong>obligatoire</strong>
        </mat-error>
        <mat-error *ngIf="form.get('type')?.dirty && form.get('type')?.hasError('minlength')">
          Nom de l'évènement doit avoir au minimum <strong>2 caractères</strong>
        </mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-center align-items-center">
        <mat-label class="me-2">Couleur du marqueur</mat-label>
        <input class="color-picker" type="color"   name="color" formControlName="color" />
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary"  type="button"  (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" (click)="submit(form.value)"   [disabled]="form.invalid">{{ buttonText }}</button>
  </div>
</mat-dialog-actions>
